@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-text font-sans antialiased;
  }
}

@layer utilities {
  .section-padding {
    @apply py-20;
  }

  .section-title {
    @apply text-3xl font-bold mb-12 inline-block relative;
  }

  .section-title::after {
    content: '';
    @apply absolute -bottom-2 left-0 w-1/2 h-1 bg-primary rounded-full;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full hover:bg-indigo-500 transition-colors;
}